<div class="todos">
  {{#each todos}}
  <div class="todo">
    <div class="todo-details">
      <div class="todo-head">
        <h3 class="todo-title">{{name}}</h3>
          <ion-icon name="trash-outline" data-todo-id="{{id}}" data-action="deleteTodo"></ion-icon>

      </div>
      <p class="todo-dueDate">{{dueDate}}</p>
      <p class="todo-importance {{importance}}">Wichtigkeit: {{importance}}</p>
      <p class="todo-description">{{description}}</p>
    </div>
    <div class="todo-actions">
      <div class="edit">
        <button
          type="button"
          class="edit-todo-button btn btn-primary"
          data-todo-id="{{id}}" data-action="editTodo"
        >
          Berarbeiten
        </button>
      </div>
      <div class="status">
        <button
          class="todo-status-button {{#if status}}done{{else}}not-done{{/if}}"
          data-todo-id="{{id}}" data-action="toggleStatus"
        >
          {{#if status}} Erledigt {{else}} Offen {{/if}}
        </button>
      </div>
    </div>
  </div>
  {{else}}
  <div class="no-todos-found">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <p>Hoppla... Keine Todos gefunden!</p>
  </div>
  {{/each}}
</div>
